{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Post</legend>
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}

                {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid") }}
                    <div class="invlaid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.content.label(class="form-label") }}

                {% if form.content.errors %}
                    {{ form.content(class="form-control is-invalid") }}
                    <div class="invlaid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}